@charset "UTF-8";
.inner {
  width: 100%;
  margin: auto;
}

/* menu-left */
.left h2 {
  padding: 30px 0 10px !important;
  text-transform: uppercase;
  font-size: 28px;
  font-family: "Exo", sans-serif;
  font-weight: bold;
}
.left ul {
  border-top: 1px solid #0e0e0e;
  width: 280px;
  margin-right: 20px;
}
.left ul li a {
  border-bottom: 1px solid #e2e2e2;
  padding: 10px 10px;
  width: 100%;
  font-size: 16px;
  font-family: "Noto Sans KR", sans-serif;
}
.left ul li:hover a{color: #f60000;}

/* header */
header {
  width: 100%;
  background-color: #151515;
  margin: auto;
}
/* 헤더 탑 영역  */

header .header1 {
  width: 1200px;
  background-color: #151515;
  margin: auto;
}

header .header1 .inner {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* 헤더 탑 왼쪽 */
header .header1 .inner .topleft-box {
  width: 200px;
}
header .header1 .inner .topleft-box ul {
  display: flex;
  justify-content: space-between;
}
header .header1 .inner .topleft-box ul li a img {
  width: 28px;
}
header .header1 .inner .topleft-box ul li a p{
  font-family: 'Noto Sans KR', sans-serif;
  color: #fff;
}
/* 헤더 탑 오른쪽 */
header .header1 .inner .topright-box {
  width: 260px;
}
header .header1 .inner .topright-box ul {
  display: flex;
  justify-content: space-between;
}
header .header1 .inner .topright-box ul li {
  display: flex;
}
header .header1 .inner .topright-box ul li a {
  margin-right: 5px;
}
header .header1 .inner .topright-box ul li a img {
  width: 18px;
}
header .header1 .inner .topright-box ul li p {
  color: #fff;
}

/* 메뉴1 */
header .header2 {
  width: 1200px;
  background-color: #151515;
  display: flex;
  margin: auto;
  height: 120px;
}
header .header2 h1 {
  width: 160px;
  margin-top: 20px;
  margin-right: 5px;
  margin-left: 10px;
}
header .header2 .inner nav ul.main-menu {
  display: flex;
  margin-top: 65px;
  
  justify-content: space-between;
}
header .header2 .inner nav ul.main-menu li.item {
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  z-index: 15;
}

header .header2 .inner nav ul.main-menu li.item > div.item__name {
  font-size: 23px;
  font-weight: bold;
  color: #fff;
  width: 120px;
  height: 50px;
  transition: all 0.4s;
  text-align: center;
}
header .header2 .inner nav ul.main-menu li.item:hover > div.item__name {
  width: 200px;
  color: #000;
  background-color: #fff;
}
header
  .header2
  .inner
  nav
  ul.main-menu
  li.item
  div.item__contents {
  position: absolute;
  width: 100%;height: 400px;background:#fff;position: fixed
  ;z-index: 1;left: 0;top: 200px;display: none;

}
header
  .header2
  .inner
  nav
  ul.main-menu
  li.item:hover
  div.item__contents{
    display: block;
  }

/* media menu */
.item__contents .contents__menu ul.inner2 {
  
  position: absolute;
  width: 1200px;
  left: 155px;
  height: 400px;
  
}
.item__contents .contents__menu ul.inner2 li {
  display: flex;
}

/* right */
.contents__menu .inner2 .right-media {
  height: 393px;
  padding-top: 10px;
  display: flex;
}
/* r1 */
.contents__menu .inner2 .right-media .r1 {
  width: 285px;
}
.contents__menu .inner2 .right-media .r1 h4 {
  font-size: 24px;
  text-transform: uppercase;
  padding: 0;
  margin-top: 0 !important;
}

.contents__menu .inner2 .right-media .r1 .ptwrap ul li a .img {
  width: 282px;
  height: 158px;
  overflow: hidden;
  border-radius: 10px;
}

.contents__menu .inner2 .right-media .r1 .ptwrap ul li a .img img {
  width: 282px;
  height: 158px;
  -o-object-fit: cover;
  object-fit: cover;
  object-position: 50% 10%;
}

.news1 {
  margin-bottom: 10px;
}

.contents__menu .inner2 .right-media .r1 .ptwrap ul li a .txt1 {
  position: absolute;
  left: 300px;
  bottom: 210px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  width: 282px;
  padding: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
}

.contents__menu .inner2 .right-media .r1 .ptwrap ul li a .txt2 {
  position: absolute;
  left: 300px;
  bottom: 45px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  width: 282px;
  padding: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
}

/* r2 */
.contents__menu .inner2 .right-media .r2 {
  width: 285px;
  margin-right: 10px;
}

.contents__menu .inner2 .right-media .r2 h4 {
  font-size: 24px;
}

.contents__menu .inner2 .right-media .r2 .piwrap {
  background: #f9f9f9;
}

.contents__menu .inner2 .right-media .r2 .piwrap a {
  color: #222;
}

.contents__menu .inner2 .right-media .r2 .piwrap a .info {
  border: 1px solid #d2d2d2;
  padding: 10px;
  width: 260px;
  height: 158px;
}

.contents__menu .inner2 .right-media .r2 .piwrap a .info .title {
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
  font-weight: 600;
  margin-bottom: 10px;
}

/* r3 */
.contents__menu .inner2 .right-media .r3 {
  width: 285px;
}
.contents__menu .inner2 .right-media .r3 h4 {
  font-size: 24px;
}
.r3 .photowrap ul li a {
  position: relative;
  width: 100%;
}
.r3 .photowrap ul li a .photowrap {
  width: 300px;
  height: 158px;
  overflow: hidden;
  margin-bottom: 10px;
}
.r3 .photowrap ul li a .photowrap .img4 {
  width: 300px;
  height: 158px;
  object-fit: cover;
  object-position: 50% 10%;
}

.r3 .photowrap ul li a .txt {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  width: 282px;
  padding: 10px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
}

/* MATCHES */

.item__contents .contents__menu ul.inner3 {
  position: absolute;
  left: 150px;
  height: 300px;
}
.item__contents .contents__menu ul.inner3 li {
  display: flex;
}

/* right 1*/
.item__contents .contents__menu ul.inner3 li .right-media ul {
  display: flex;
}
.item__contents .contents__menu ul.inner3 li .right-media ul li .r1 {
  background: #f9f9f9;
  border: 1px solid #d2d2d2;
  padding: 20px;
  margin: 20px 0px 0;
  text-align: center;
  position: relative;
  width: 230px;
  height: 300px;
  margin-right: 20px;
}
.item__contents .contents__menu ul.inner3 li .right-media ul li .r1 > h4 {
  font-size: 24px;
  padding-bottom: 20px;
}
.matches {
  text-align: center;
  height: 130px;
}
.matches ul li .seoul p {
  width: 80px;
  height: 90px;
}
.matches ul li .seoul p img {
  width: 100%;
}
.matches ul li .seoul p :last-child {
  font-weight: 500;
  margin-top: 5px;
  width: 80px;
  line-height: 1.2;
  text-align: center;
}

.matches ul .point {
  font-size: 30px;
  font-weight: 700;
  align-items: center;
  margin-top: 20px;
}
.matches ul .point p {
  width: 80px;
  height: 90px;
  font-weight: 500;
  margin-top: 5px;
  width: 80px;
  line-height: 1.2;
  text-align: center;
  color: gray;
}

.matches ul li .phohang p {
  width: 80px;
  height: 90px;
}
.matches ul li .phohang p img {
  width: 100%;
}
.matches ul li .phohang p :last-child {
  font-weight: 500;
  margin-top: 5px;
  width: 80px;
  line-height: 1.2;
  text-align: center;
}

.r1 .matchestxt > h4 {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
}
.r1 .matchestxt > p {
  font-size: 18px;
}

/* r2 */
.right-media ul li .r2 {
  background: #f9f9f9;
  border: 1px solid #d2d2d2;
  padding: 20px;
  margin: 20px 0px 0;
  text-align: center;
  position: relative;
  width: 230px;
  height: 300px;
  margin-right: 20px;
}
.right-media ul li .r2 > h4 {
  font-size: 24px;
  padding-bottom: 20px;
}
.matches {
  text-align: center;
  height: 130px;
}
.matches ul li .seoul p {
  width: 80px;
  height: 90px;
}
.matches ul li .seoul p img {
  width: 100%;
}
.matches ul li .seoul p :last-child {
  font-weight: 500;
  margin-top: 5px;
  width: 80px;
  line-height: 1.2;
  text-align: center;
}

.matches ul .point {
  font-size: 30px;
  font-weight: 700;
  align-items: center;
  margin-top: 20px;
}
.matches ul .point p {
  width: 80px;
  height: 90px;
  font-weight: 500;
  margin-top: 5px;
  width: 80px;
  line-height: 1.2;
  text-align: center;
  color: gray;
}

.matches ul li .suwon p {
  width: 80px;
  height: 90px;
}
.matches ul li .suwon p img {
  width: 100%;
}
.matches ul li .suwon p :last-child {
  font-weight: 500;
  margin-top: 5px;
  width: 80px;
  line-height: 1.2;
  text-align: center;
}

.r2 .matchestxt > h4 {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
}
.r2 .matchestxt > p {
  font-size: 18px;
}

/* r3 */
.right-media ul li .r3 {
  background: url(../img/bg_matches_current.jpg) no-repeat center center;
  color: #fff;
  margin: 20px 0px 0;
  padding: 20px;
  width: 240px;
  height: 300px;
  text-align: center;
}

.right-media ul li .r3 p:first-child {
  margin: 10px 0;
  text-transform: uppercase;
}
.right-media ul li .r3 p:first-child img {
  margin-right: 10px;
}
.right-media ul li .r3 p:nth-child(2) {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 30px;
}
.right-media ul li .r3 p:nth-child(3) {
  font-size: 32px;
  font-weight: bold;
  height: 132px;
  margin-top: -20px;
}
.right-media ul li .r3 p:nth-child(3) strong {
  font-size: 92px;
  color: #ae9050;
}

.right-media ul li .r3 .resultwrap {
  text-align: center;
  color: #d2d2d2;
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 10px;
}

.right-media ul li .r3 .btnwarp {
  border: 1px solid #fff;
  width: 210px;
  height: 30px;
  margin: auto;
  padding-top: 10px;
  transition: all 0.4s;
}
.right-media ul li .r3 .btnwarp a {
  color: #fff;
  margin-top: 10px;
}
.right-media ul li .r3 .btnwarp:hover {
  background-color: #fff;
}
.right-media ul li .r3 .btnwarp:hover a {
  color: #000;
}

/* r3 글자색상 */
.right-media ul li .r3 p {
  color: #fff;
}
.right-media ul li .r3 .resultwrap span b {
  color: #fff;
}

/* TICKETS */

.item__contents .contents__menu ul.inner4 {
  position: absolute;
  left: 150px;
  height: 300px;
}
.item__contents .contents__menu ul.inner4 li {
  display: flex;
}
.inner4 .right-media .right-img {
  margin-top: 20px;
}

/* membership */

.item__contents .contents__menu ul.inner5 {
  position: absolute;
  left: 150px;
  height: 300px;
}
.item__contents .contents__menu ul.inner5 li {
  display: flex;
}
.item__contents .contents__menu ul.inner5 li div.right-media ul {
  display: flex;
}
ul.inner5 li div.right-media ul li a {
  margin-top: 20px;
  margin-right: 20px;
}

/* club */

.item__contents .contents__menu ul.inner6 {
  position: absolute;
  left: 150px;
  height: 300px;
}
.item__contents .contents__menu ul.inner6 li {
  display: flex;
}
.item__contents .contents__menu ul.inner6 li div.right-media ul {
  display: flex;
}
ul.inner6 li div.right-media ul li a {
  margin-top: 20px;
  margin-right: 20px;
}

/* FAN ZONE */
.item__contents .contents__menu ul.inner7 {
  position: absolute;
  left: 150px;
  height: 300px;
}
.item__contents .contents__menu ul.inner7 li {
  display: flex;
}
.item__contents .contents__menu ul.inner7 li div.right-media ul {
  display: flex;
}
ul.inner7 li div.right-media ul li a {
  margin-top: 20px;
  margin-right: 20px;
}

/* SHOP */

.item__contents .contents__menu ul.inner8 {
  position: absolute;
  left: 150px;
  height: 300px;
}
.item__contents .contents__menu ul.inner8 li {
  display: flex;
}
.item__contents .contents__menu ul.inner8 li div.right-media {
  border: solid #555;
  text-align: center;
  padding-top: 20px;
}
/* BEST item 이름 꾸미기 */
.item__contents .contents__menu ul.inner8 li div.right-media strong {
  font-size: 26px;
  font-weight: bold;
  font-family: "Noto Sans KR", sans-serif;
}

/* 메뉴들 꾸미기 */
.item__contents .contents__menu ul.inner8 li div.right-media ul {
  display: flex;
  width: 880px;
  height: 340px;
  text-align: center;
}
ul.inner8 li div.right-media ul li {
  align-items: center;
}
ul.inner8 li div.right-media ul li a {
  width: 200px;
  height: 170px;
  background-color: #ae9050;
  margin-right: 10px;
  margin-left: 10px;
}
ul.inner8 li div.right-media ul li a img {
  width: 100%;
}
ul.inner8 li div.right-media ul li a .info p:first-child {
  font-size: 16px;
  font-weight: bold;
}
ul.inner8 li div.right-media ul li a .info p:nth-child(2) {
  font-size: 20px;
  color: red;
}

/* swiper slide */
.main-slide .swiper {
  width: 100%;height:auto;
}
.main-slide .swiper img {
  width: 100%;height: auto;
}
.main-slide .swiper-prev,
.main-slide .swiper-next{
  width: 40px;height: 40px;
  position: absolute;top: 0;bottom: 0;margin: auto;z-index: 1;
  display: flex;justify-content: center;align-items: center;
  font-size: 60px;cursor: pointer;background-color: #fff;
}
.inner{width: 1200px;margin: auto;position: relative;}
.swiper-prev{top: -1000px;}
.swiper-next{right: 0;}



.main-slide .swiper .swiper-pagination-bullet {background-color:#f60000 ;width: 50px;height: 2px;

}
.main-slide .swiper .swiper-pagination-bullet-active {
  background-color: #000;

}

/* match tiles */
.counter {
  width: 100%;
  background: url(../img/bg_main1.jpg)no-repeat center center;
  background-size:cover;
}

.inner-box {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 50px 57px 36px;
  width: 1200px;
  margin: auto;
}

.counter .lastgame .match-tile {
  
  height: 100%;
}
.match-tile__heading {
  
  font-size: 2.5rem;
}
.match-tile_h4 {
  font-size: 2.5rem;
  line-height: 0.76;
  letter-spacing: -0.14rem;
  color: #fff;
  font-family: "Exo", sans-serif;
  padding-top: 10px;
}
.match-tile__team {
  font-size: 1.2rem;
  margin-top: 12px;
  margin-bottom: 20px;
  color: #fff;
  font-family: "Exo", sans-serif;
  font-weight: bold;
}

counter.lastgame .match-tile .match-tile__container {
  flex-grow: 1;
  padding: 0.8rem;
  position: relative;
  box-shadow: none;
  transition: all 0.2s ease-out;
}
.match-tile__fixture {
  background-color: #555;
  border: solid 1px #fff;
  margin-right: 10px;
}
.match-tile__fixture .fixture-info {
  
  display: flex;
  align-items: center;
  margin-left: 0.8rem;
  border-bottom: solid 1px #fff;
  margin-right: 0.8rem;
}

.fixture-info .info-meta .info-competition span {
  font-weight: 400 !important;
  font-size: 16px;
  color: #fff;
}

.fixture-info .info-meta .info-date-location {
  font-size: 14px;
  font-weight: 400 !important;
  color: #fff;
}
.fixture-info .info-meta .info-date-location .info-date {
  font-size: 14px;
  font-weight: 400 !important;
  color: #fff;
}
.fixture-info .info-meta .info-date-location .info__splitter {
  vertical-align: middle;
  font-size: 0.5rem;
  color: #fff;
}
.fixture-info .info-meta .info-date-location .info-stadium {
  font-weight: 400 !important;
  color: #fff;
  font-size: 12px;
}

/* 이전경기 상자 아래부분 */
.match-tile__link-container {
  margin-bottom: 0;
  border-bottom: none;
}
.match-tile__link-container .tile__teams {
  flex-grow: 1;
}
.title-fixture {
  display: flex;
  justify-content: stretch;
  align-items: center;
  margin: 0.4rem 0;
}

.title-fixture {
  margin-left: 20px;
}
.title-fixture .title-badges {
  margin-right: 1.4rem;
  display: flex;
}
.title-fixture .title-badges .title-logo {
  font-weight: 400 !important;
  font-size: 2.5rem;
  flex-grow: 1;
}
.title-fixture .title-badges .title-logo a img {
  width: 35px;
  height: 35px;
  display: block;
  
}
.title-fixture .title-badges .team-name {
  font-weight: 400 !important;
  font-size: 28px;
  color: #fff;
  margin-right: 22px;
}
.title-fixture .title-badges .team-score {
  font-weight: 400 !important;
  font-size: 28px;
  color: #fff;
  flex-basis: 15px;
  text-align: center;
}
.title-fixture .title-badges .team-name1 {
  font-weight: 400 !important;
  font-size: 28px;
  color: #fff;
  margin-right: 22px;
  width: 248px;
}

/* 버튼부분 */
.match-tile__buttons {
  
  margin-right: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  background-color: #d2d2d2;
}
.match-tile__buttons .button {
  font-family: 'Noto Sans KR', sans-serif;
  background: #f8f8f8;
  font-size: 16px;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ededed;
  text-align: center;
  text-decoration: none;
  box-shadow: 1px 1px 1px 1px gray;

}
.match-tile__buttons .button:hover {
  background-color: #222;
  color: #fff;
}

#haha
{background-color: #222;color: #fff;}


.ranking-info{width: 374px;height: 26px;display: flex;align-items: center;justify-content: space-between;
background-color: #333;
}
.ranking-info .notice-left{
  width: 230px;height: 26px;margin-left: 10px;}
.ranking-info .notice-left ul{display: flex;align-items: center;}

.ranking-info .notice-left ul li{width: 40px;}
.ranking-info .notice-left ul li a{color: #fff;font-weight: bold;display: block;
padding-top: 5px;}
.notice-right{width: 134px;}
.notice-right ul{display: flex;justify-content: space-between;margin-right: 5px;}
.notice-right ul li{color: #fff;font-weight: bold;}


.title-ranking span{color: #fff;padding-right: 20px;
font-size: 20px;font-weight: bold;font-family: 'Noto Sans KR', sans-serif; }

.team-name2{
  display: flex;
font-weight: 400 !important;
font-size: 15px;
color: #fff;
margin-right: 22px;
width: 110px;
align-items: center;
height: 40px;
}




/* <!-- slick slider 부분 TEAM & PLAYER부분 -->  */
.player {
  background: url(../img/teambg.png) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 858px;
}

.player .inner-box{
  width: 1200px;margin: auto;
  height: 858px;
}
.player .inner-box .team{overflow: hidden;
margin-top: 100px;margin-bottom: 130px;width: 1200px;height: 600px;

}
/* TEAM & PLAYER 글자 부분 */
.player .inner-box .team .team-header{
  width: 380px;height: 58px;margin-bottom: 90px;
}

.player .inner-box .team .team-header strong{
  font-size: 48px;font-weight: 500;font-family: 'Exo', sans-serif; color: #fff;
  
}

/* team-box 부분 */
.inner-box .team .team-box{position: relative;
  display: flex;width: 1200px;height: 379px;
}
/* team-box 이미지 부분 */
.inner-box .team .team-box .team-img{
  width: 230px;height: 280px;background: url(../img/bg__player.jpg)no-repeat center center;
  margin-right: 5px;
}
.inner-box .team .team-box .team-img a img{
  width: 230px;padding-top: 50px;
}
/* team-box 글자 부분 */
.inner-box .team .team-box .team-info{
  width: 230px;height: 100px;display: flex;margin-right: 5px;
  background-color: #151515;align-items: center;
}
.inner-box .team .team-box .team-info .info-left{height: 80%;
  border-right: 1px solid #fff;padding-right: 10px;
  margin-left: 10px;margin-right: 10px;
  
}
.inner-box .team .team-box .team-info .info-left strong{
  font-size: 45px;color: #fff;font-family: 'Noto Sans KR', sans-serif;
  font-weight: bold;display: flex;align-items: center;width: 60px;height: 80px;
  justify-content: center;
}

.inner-box .team .team-box .team-info .info-right{
  margin-left: 10px;margin-right: 10px;
}
.inner-box .team .team-box .team-info .info-right p{
  font-size: 20px;color: #fff;
  font-weight: bold;font-family: 'Noto Sans KR', sans-serif;;margin-top: 5px;
}







/* news부분 */
.latest-headlines {
  width: 100%;
  height: 775px;
}
.latest-headlines .headline {
  width: 1320px;
  height: 775px;
  margin: auto;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
}
.latest-headlines .headline .news1 {
  width: 400px;
  height: 27px;
  padding: 10px;
}
.latest-headlines .headline .news1 a {
  font-size: 26px;
  font-weight: bold;
  font-family: "Noto Sans KR", sans-serif;
}

/* news부분 */
.latest-headlines .headline .news2 {
  display: flex;
}
.news-box {
  width: 330px;
  height: 341px;
  box-shadow: 1px 1px 5px 1px gray;
  margin-right: 10px;
}
.news-box .news-img {
  padding-left: 10px;
  padding-right: 10px;
  transition: all 0.5s;
}
.news2 {
  margin-bottom: 20px;
}
/* hover 효과 */
.news-box:hover .news-img {
  transform: scale(1.1);
}
.news-box:hover .news-info {
  text-decoration: underline;
}
/* 박스마다 크기조정 */
.news-box .news-info h3 {
  width: 122px;
  height: 21px;
  margin: 15px;
  font-size: 17px;
  font-weight: bold;
  font-family: "Exo", sans-serif;
}
.news-box .news-info p {
  margin-left: 15px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2;
}
.latest-headlines .headline .news3 {
  display: flex;
}

/* shop online */
.shop-online {
  width: 100%;
  height: 600px;
  background-color: #f7f7f7;
}
.shop-online .online {
  width: 1320px;
  height: 550px;
  margin: auto;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}

/*shop online 제목 꾸미기  */
.shop-online .online .shop1 {
  width: 400px;
  height: 27px;
  padding: 10px;
}
.shop-online .online .shop1 a {
  position: relative;
  font-size: 26px;
  font-weight: bold;
  font-family: "Noto Sans KR", sans-serif;
}

/* 박스하나하나 */
.shop-online .online .shop2 {
  display: flex;
}
.shop-box {
  width: 1320px;
  height: 391px;
  margin-right: 14px;
}

/* 박스에 있는 이미지 */
.shop-box .shop-info {
  width: 316px;
  height: 116px;
  font-size: 17px;
  font-weight: bold;
  font-family: "Noto Sans KR", sans-serif;
  text-align: center;
}
.shop-box .shop-info h3 {
  padding-top: 10px;
  font-size: 22px;
  font-weight: bold;
}
.shop-box .shop-info .shop-button {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}
.shop-box .shop-info .shop-button .btn1 {
  width: 125px;
  height: 29px;
  background-color: #fff;
  padding: 10px;
  color: red;
  box-shadow: 3px 3px 3px 3px gray;
  margin-right: 2px;
}
.shop-box .shop-info .shop-button .btn2 {
  width: 125px;
  height: 29px;
  background-color: #fff;
  padding: 10px;
  color: #000;
  box-shadow: 3px 3px 3px 3px gray;
}

/* 푸터부분 */
footer{width: 100%;background-color: #151515;position: relative;}
footer .footer1{width: 1200px;margin: auto;}
footer .footer1 .sponser{
  width: 1100px;height: 361px;margin: auto;padding-top: 20px;padding-bottom: 20px;
}
footer .footer1 .sponser .sponser-box{display: flex;flex-wrap: wrap;justify-content: space-between;
  position: relative;
}
footer .footer1 .sponser .sponser-box .creative__item{
  width: 280px;height: 150px;
  display: flex;justify-content: center;align-items: center;
  
}
.creative__item:nth-child(1) ::after{
  content: ' ';
  position: absolute;
  left: 350px;
  right: 0px;
  height: 340px;
  width: 1px;
  background: #656363;
  top:0px;
  background-image: linear-gradient(to bottom, #000 0, transparent 50%), 
  linear-gradient(to top, #000 0, transparent 50%);}

.creative__item:nth-child(2) ::after{
  content: ' ';
  position: absolute;
  left: 750px;
  right: 0px;
  height: 340px;
  width: 1px;
  background: #656363;
  top:0px;
  background-image: linear-gradient(to bottom, #000 0, transparent 50%), 
  linear-gradient(to top, #000 0, transparent 50%);}
.creative__item:nth-child(3) ::before{
  content: ' ';
    position: absolute;
    left: 0;
    height: 1px;
    width: 110%;
    background: #656363;
    bottom: 0;
    top: 150px;
    background-image: linear-gradient(to right, #000 0, transparent 50%),
    linear-gradient(to left, #000 0, transparent 50%);}

.creative__item:nth-child(6) ::before{
  content: ' ';
    position: absolute;
    left: 0;
    height: 1px;
    width: 110%;
    background: #656363;
    bottom: 0;
    top: 320px;
    background-image: linear-gradient(to right, #000 0, transparent 50%),
    linear-gradient(to left, #000 0, transparent 50%);;}
footer .footer1 .sponser .sponser-box li:first-child{margin-left: 30px;}
footer .footer1 .sponser .sponser-box li:nth-child(4){margin-left: 30px;
}
footer .footer1 .sponser .sponser-box li:nth-child(3){margin-right: 30px;}
footer .footer1 .sponser .sponser-box li:nth-child(6){margin-right: 30px;}

footer .footer1 .sponser .sponser-box li a img{width: 80%;}

footer .footer1 .sponser .sponser-box li:hover a .show{display: none;}
footer .footer1 .sponser .sponser-box li:hover a .hidden{display: inline-block;}

/* 푸터2 */
footer .footer2{width: 1200px;margin: auto;}
footer .footer2 .footer-box1 {width: 1200px;height: 60px;display: flex;justify-content: space-between;
align-items: center;}
/* 개인정보 쪽 */
footer .footer2 .footer-box1 .left-box ul{width: 700px;display: flex;justify-content: space-between;
align-items: center;}
footer .footer2 .footer-box1 .left-box ul li{font-size: 16px;font-weight: 500;
  font-family: 'Noto Sans KR', sans-serif;transition: all 0.3s;}
footer .footer2 .footer-box1 .left-box ul li:first-child a{color: #f60000;}
footer .footer2 .footer-box1 .left-box ul li:hover a{color: #f60000;}

footer .footer2 .footer-box1 .right-box ul{width: 200px;display: flex;
  justify-content: space-between;align-items: center;}
  footer .footer2 .footer-box1 .right-box ul li{width: 30px;height: 30px;}
  footer .footer2 .footer-box1 .right-box ul li a img {width: 100%;}

  .footer-box2{display: flex;align-items: center;}
  .footer-box2 div{margin-right: 20px;}
  .footer-box2 ul{display: flex;width: 900px;height: 40px;}
  .footer-box2 ul li{margin-right: 30px;color: #ccc;font-size: 14px;}
  .footer-box2 p{color: #ccc;font-size: 14px;}

  .footer-box2 .award_logo{position: absolute;bottom: 25px;right: 80px;}
